<ul class="list-group">
  <li class="list-group-item">junliang.jiang@rmit.edu.au</li>
  <li class="list-group-item">anto.dominic@rmit.edu.au</li>
  <li class="list-group-item">andy.song@rmit.edu.au</li>
</ul>
