<%= content_for :title, "Home Page #{@page}" %>
<p id="notice"><%= notice %></p>

<div class="topics media news-index">
  <% @news.each_with_index do |new, index| %>
    <%= render "topic", index: index, new: new%>
  <% end %>
</div>
<br>
<% if @has_more %>
  <%= link_to 'More', news_index_path(p: @page + 1) %>
<% end %>
