<%= content_for :title, "Home Page #{@page}" %>
<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>

<div class="topics media news-index">
  <% @news.each_with_index do |new, index| %>
    <%= render "topic", index: index, new: new%>
  <% end %>
</div>
<% if @has_more %>
  <div class="">
    <%= link_to 'More', news_index_path(p: @page + 1), class: 'btn btn-default' %>
  </div>
<% end %>
