$import-google-fonts: false;
@import "semantic-ui";
@import "bootstrap-sprockets";
@import "bootstrap";
body {
  background-color: #e5e5e5;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  .ui.main {
    background-color: #fff;
    min-height: 100%;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
    &.text.container {
      font-size: 1.5rem;
    }

    .topics, .comments {
      .topic, .comment {
        padding-bottom: 20px;
        .media-heading {
          line-height: 22px;
        }
        .media-body {
          padding-bottom: 5px;
        }
        .strong {
          font-weight: 600;
        }
        .comment {
          background: #d0e2f8;
          color: #fff;
          font-size: 13px;
          min-width: 32px;
          text-align: center;
          border-radius: 80px;
          padding: 3px 8px 3px 8px;
          display: inline-block;
          text-decoration: none;
        }
      }
    }
    .topic:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
    & > * {
      margin: 1em 0.5em;
    }
    .grid-user {
      padding: 1em 0.5em;
      border: 1px solid #d0e2f8;
      border-radius: 2px;
    }
  }
}
.ui.menu {
  font-size: 1.5rem;
}
h3 {
  font-size: 2.5rem;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666;

  &:hover {
    color: #00B5AD;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  & > textarea, & > input {
    border-color: red!important;
  }
}
.ui {
  .field_with_errors {
    padding: 0;
    width: 100%;
    & > input {
      padding-left: 2.67142857em !important;
      padding-right: 1em !important;
      width: 100%!important;
    }
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

body > .container {
  margin-top: 7em;
  @media screen and (max-width: 769px) {
    margin-top: 19em;
  }
}

.ml-1 {
  margin-left: 10px !important;
}
